/out/production/DuckSimulator/superclass/Duck.class
/out/production/DuckSimulator/implementation/EletronicDuck.class
/out/production/DuckSimulator/Main.class
/out/production/DuckSimulator/implementation/RealDuck.class
/out/production/DuckSimulator/implementation/RubberDuck.class
/UML-diagram.png
